server:
  port: 10008

spring:
  main:
    allow-bean-definition-overriding: true
  datasource:
    dynamic:
      primary: master #设置默认的数据源或者数据源组,默认值即为master
      strict: false #严格匹配数据源,默认false. true未匹配到指定数据源时抛异常,false使用默认数据源
      datasource:
        master:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://localhost:3307/240_hr?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT%2B8&useSSL=false&allowMultiQueries=true
          username: root
          password: yiyan
  # 服务注册
  cloud:
    nacos:
      discovery:
        namespace: platform
        server-addr: localhost:8848
  #    bus:
  #      enabled: true # 是否开启，默认为 true
  #      id: ${spring.application.name}:${server.port} # 编号，Spring Cloud Alibaba 建议使用“应用:端口”的格式
  #      destination: springCloudBus # 目标消息队列，默认为 springCloudBus
  # redis配置
  redis:
    host: localhost
    port: 6379
    password: yiyan
    timeout: 5000ms
    lettuce:
      pool:
        max-active: 20
        max-idle: 10
        min-idle: 5
        max-wait: 5000ms

  # rabbitMQ配置
  rabbitmq:
    host: localhost
    port: 5672
    username: yiyan
    password: yiyan
    virtual-host: /yiyan

# 日志等级
logging:
  level:
    root: info
    org:
      springframework: debug
    com.cac: debug

#feign相关配置
feign:
  client:
    config:
      default: # default全局的配置
        loggerLevel: BASIC # 日志级别，BASIC就是基本的请求和响应信息
        read-timeout: 2000
  httpclient:
    enabled: true # 开启feign对HttpClient的支持
    max-connections: 200 # 最大的连接数
    max-connections-per-route: 50 # 每个路径的最大连接数

yiyan:
  security:
    resource-id: ${spring.application.name:demo}
    token-info-uri: http://localhost:39996/oauth/check_token
    client-id: hukx-hr
    client-secret: hukx
    permitAllUrls:
      - /admin/**
  feign:
    system-path: http://localhost:39996/yiyan-system
    auth-path: http://localhost:39996/yiyan-auth
    file-path: http://localhost:39996/yiyan-file

# MinIO配置
minio:
  endpoint: http://localhost:9000
  downLoadEndpoint: http://localhost:9001
  access-key: k24q1AI3dfCVjTkN
  secret-key: JpFncnBJHPutISTbJk85qHAqYrseqioh
  bucket-name: hukx
  module-name: hr

# 默认不开启定时任务功能
xxl:
  job:
    enabled: false
    admin:
      addresses: http://localhost:39996/xxl-job-admin # 调度中心部署跟地址 [选填]：如调度中心集群部署存在多个地址则用逗号分隔。执行器将会使用该地址进行"执行器心跳注册"和"任务结果回调"；为空则关闭自动注册；
    executor:
      app-name: ${spring.application.name} # 执行器 AppName [选填]：执行器心跳注册分组依据；为空则关闭自动注册
      ip: # 执行器IP [选填]：默认为空表示自动获取IP，多网卡时可手动设置指定IP，该IP不会绑定Host仅作为通讯实用；地址信息用于 "执行器注册" 和 "调度中心请求并触发任务"；
      port:  # ### 执行器端口号 [选填]：小于等于0则自动获取；默认端口为9999，单机部署多个执行器时，注意要配置不同执行器端口；
      log-path:  # 执行器运行日志文件存储磁盘路径 [选填] ：需要对该路径拥有读写权限；为空则使用默认路径；
      log-retention-days: 30 # 执行器日志文件保存天数 [选填] ： 过期日志自动清理, 限制值大于等于3时生效; 否则, 如-1, 关闭自动清理功能；
    accessToken: default_token # 执行器通讯TOKEN [选填]：非空时启用；
