<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cac.oa.dao.sixs.SixSAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.cac.oa.entity.sixs.SixSAccountEntity">
        <id property="id" column="id"/>
        <result property="userCode" column="user_code"/>
        <result property="userName" column="user_name"/>
        <result property="departmentId" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="year" column="year"/>
        <result property="totalScore" column="total_score"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updater" column="updater"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="common_sql_field">
        t1.id, t1.user_code, t1.user_name, t1.department_id, t1.department_name,
        t1.year, t1.total_score, t1.status, t1.remark, t1.creator, t1.create_time, t1.updater, t1.update_time
    </sql>

</mapper>
